.card {
  margin: 2px;

  box-shadow: 5px 5px 5px;
  border: none;
}
.actor {
  background-color: aliceblue;
}
.card-img-top {
  height: 60%;
  object-fit: cover;
}
.card-text {
  margin-bottom: 0;
  font-size: 0.6rem;
  font-weight: 600;
}
.card-title {
  margin-left: 0px;
  background-image: linear-gradient(
    90deg,
    rgb(229, 237, 237),
    rgb(255, 255, 255),
    rgb(229, 237, 237)
  );
  color: rgb(18, 7, 61);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: 800;
}
.card-body {
  margin: 0;
  padding: 3px;
  text-align: left;
  background-color: rgb(181, 225, 253);
  border-radius: 5px;
}
.details-container {
  border-right: 1px solid gray;
  margin-right: 5px;
}
.rating {
  font-size: 0.22rem;
  margin-bottom: 0;
  font-stretch: extra-condensed;
}

.rating-category {
  margin-bottom: 0;
  font-size: 0.6rem;
}
.add-button {
  justify-content: center;
  align-items: center;
  font-size: small;
  padding: 2px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(37, 37, 78);
  border: none;
}
